{% load static %}
<link rel="stylesheet" href={% static 'polls/style.css' %}>

<div class="auth-buttons">
  {% if user.is_authenticated %}
    <span>Welcome, {{ user.username }}</span>
    <form method = 'post' action = {% url 'logout'%} class = 'logout-form'>
        {% csrf_token%}
        <button type='submit' class="logout-button">Logout</button>
    </form>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup'%}">Sign Up</a>
  {% endif %}
</div>

{%block content%}
{%endblock%}

<footer class="footer">
    <a href = {% url 'index' %} class = "bottom-center-link">Return to Polls</a>
</footer>
